{% load thumbnail %}
<div class="container py-5">
  <ul>
	  {% if not author %}
      <li>
        Автор: 
        <a href="{% url 'posts:profile' post.author.username %}">
          {{ post.author.get_full_name }}
        </a>
      </li>
		{% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}
  <p>
    {{post.text|linebreaks}}
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
  </p>
  {% if not group_post %}    
    {% if post.group %}   
      <a href="{% url "posts:group_posts" post.group.slug %}">
        #{{post.group}}
      </a>
	  {% endif %}
  {% endif %}
</div>